<html>
    <div id="app">
        <ol>
            <item-list v-for="item in items" v-bind:key="item.id" v-bind:item1="item">
            </item-list>
        </ol>
        <ol>
            <li v-for="item in items" v-bind:key="item.id">{{ item.name }}</li>
        </ol>

        <input type=text name="item" v-model="textinput"> <br>
        <button type="submit" v-on:click="addItem(textinput)">Submit</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</html>